.graph-base{
    position: relative;
    width: 400px;
    height: 400px;
    background-color: #ffffff;
}

.vertical-arrow {
    background-color: #000000;
    width: 2px;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 50%;
}

.horizontal-arrow {
    background-color: #000000;
    width: 90%;
    height: 2px;
    position: absolute;
    left: 5%;
    top: 50%;
}

.II {
    background-color: rgba(175, 255, 179, 0.56);
    width: 20%;
    height: 40%;
    position: absolute;
    top: 10%;
    left: 50%;
}

.blocker1{
    background-color: #ffffff;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 40%;
}

.blocker2{
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 10%;
    width: 40%;
    height: 40%;
}

.null-II {
    background-color: rgb(255, 255, 255);
    width: 20%;
    height: 40%;
    position: absolute;
    top: 10%;
    left: 50%;
}

.null-III {
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
}

.null-IIII {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    clip-path: polygon(50% 50%, 50% 90%, 30% 50%);
}
.III {
    border-radius: 100%;
    background-color: rgba(175, 255, 179, 0.56);
    width: 80%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
}

.IIII {
    width: 100%;
    height: 100%;
    background-color: rgba(175, 255, 179, 0.56);
    clip-path: polygon(50% 50%, 50% 90%, 30% 50%);
}




.arrow-right {
    position: absolute;
    left: 93%;
    top: 47.5%;
    width: 5%;
    height: 5%;
    background-color: #000000;
    clip-path: polygon(0% 30%, 0% 70%, 100% 50%);
}

.arrow-up {
    position: absolute;
    top: 3%;
    left: 47.5%;
    width: 5%;
    height: 5%;
    background-color: #000000;
    clip-path: polygon(70% 100%, 30% 100%, 50% 0%);
}

.y-r {
    background-color: black;
    position: absolute;
    top: 10%;
    left: 48.7%;
    width: 3%;
    height: 2px;
}

.y-r-na-2 {
    background-color: black;
    position: absolute;
    top: 30%;
    left: 48.7%;
    width: 3%;
    height: 2px;
}

.y-minus-r-na-2 {
    background-color: black;
    position: absolute;
    top: 70%;
    left: 48.7%;
    width: 3%;
    height: 2px;
}

.y-minus-r {
    background-color: black;
    position: absolute;
    top: 90%;
    left: 48.7%;
    width: 3%;
    height: 2px;
}

.x-r {
    background-color: black;
    position: absolute;
    top: 48.7%;
    left: 90%;
    width: 2px;
    height: 3%;
}

.x-r-na-2 {
    background-color: black;
    position: absolute;
    top: 48.7%;
    left: 70%;
    width: 2px;
    height: 3%;
}

.x-minus-r {
    background-color: black;
    position: absolute;
    top: 48.7%;
    left: 10%;
    width: 2px;
    height: 3%;
}

.x-minus-r-na-2 {
    background-color: black;
    position: absolute;
    top: 48.7%;
    left: 30%;
    width: 2px;
    height: 3%;
}

.text-x-r {
    position: absolute;
    top: 45%;
    left: 89%;
}

.choose-r {
    position: absolute;
    top: 50%;
    left: 50%;
    color: red;
}

.text-x-r-na-2 {
    position: absolute;
    top: 45%;
    left: 68%;
}

.text-x-minus-r-na-2{
    position: absolute;
    top: 45%;
    left: 27%;
}

.text-x-minus-r{
    position: absolute;
    top: 45%;
    left: 8%;
}


.text-y-r{
    position: absolute;
    top: 8%;
    left: 52.5%;
}

.text-y-r-na-2{
    position: absolute;
    top: 28%;
    left: 52.5%;
}

.text-y-minus-r-na-2{
    position: absolute;
    top: 67.5%;
    left: 52.5%;
}

.text-y-minus-r{
    position: absolute;
    top: 87.5%;
    left: 52.5%;
}

.n-III {
    border-radius: 100%;
    background-color: rgba(175, 255, 179, 0.56);
    width: 80%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
}

.n-II {
    background-color: rgba(175, 255, 179, 0.56);
    width: 20%;
    height: 40%;
    position: absolute;
    top: 50%;
    left: 30%;
}

.n-IIII {
    width: 100%;
    height: 100%;
    background-color: rgba(175, 255, 179, 0.56);
    clip-path: polygon(50% 50%, 50% 10%, 70% 50%);
}

.n-blocker1{
    background-color: white;
    position: absolute;
    top: 50%;
    left: 10%;
    width: 80%;
    height: 40%;
}

.n-blocker2{
    background-color: white;
    position: absolute;
    top: 10%;
    left: 50%;
    width: 40%;
    height: 40%;
}