.header {
    font-size: 13px;
    font-family: Helvetica;
    font-style: italic;
    color: rgb(129, 127, 255);
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

p {
    color: #f44336;
}
.data-button, .delete-button {
    border-radius: 10px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    transition: .3s ease;
    color: white;
}

.data-button {
    background-color: rgb(129, 127, 255);
    box-shadow: 0 5px 0 #45458e;
    display: grid;
    justify-content: center;
    position:relative;
    left: 55px;
    top: 50px;
}

.data-button:hover {
    box-shadow: none;
}

.data-button:active {
    color: #817FFFFF;
}

.clock-container {
    display: grid;
    justify-content: center;
}